<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <style> body { background-color:forestgreen; /* Baby pink color */ } 
    text{color:white;}</style>
</head>
<body>

    <div style="margin-top:50px">
    <h1 class="ui center aligned header ">  FILE DETAILS  </h1>
    
    <form class="uiform" action="/add" method="POST">
        <div class="field">
            <br>
            <label for="todo">FILE NAME:</label>
            <br>
                <input type="text" name="todo" id="todo" placeholder="Enter file name..">
                <br>
                <br><button type="submit"> Create </button>
              <br>  
              <br>
        </div>
    </form>
    {% for todo in todo_list %}
    
    <div class="ui segment">
        <p class="ui big header">
            {{todo.id}} | {{todo.title}}
        </p>
        {% if todo.complete ==false%}
            <span class="ui gray label"> Tab to create file</span>
            {% else %}
        
            <span class="ui green label"> FILE CREATED SUCCESSFULLY!!</span>
            {% endif %}
            <BR>
                <br>
            <a class=" ui blue button" href="/update/{{todo.id}}">CREATE</a>
            <a class=" ui red button"href="/delete/{{todo.id}}">DELETE</a>
    </div>
    {% endfor %}
    </div>
</body>
</html> 